{%  extends "base.html.twig" %}

{% block pageTitle %}{{ parent() }}: Accueil{% endblock %}

{% block pageName %}Accueil{% endblock %}

{% block pageContent %}
    <div class="text-center">
        Bienvenue sur votre Bucket List !
    </div>
    <div class="justify-content-center mt-3">
        <p>Une bucket list, ou liste de choses à faire avant de mourir, est une compilation personnelle d'expériences, d'objectifs ou de réalisations que quelqu'un souhaite accomplir dans sa vie. Elle peut inclure une vaste gamme d'activités, de destinations ou de défis, reflétant les aspirations, les rêves et les désirs uniques de chaque individu. La notion de bucket list tire son origine de l'expression anglaise "kick the bucket", qui signifie "passer l'arme à gauche" ou "mourir". Ainsi, la bucket list est souvent vue comme une liste de choses à faire avant de "passer l'arme à gauche".</p>
        <p>Les éléments figurant sur une bucket list peuvent varier considérablement d'une personne à l'autre. Certains pourraient inclure des voyages exotiques dans des destinations lointaines, tels que visiter les pyramides d'Égypte, faire un safari en Afrique ou explorer les rues animées de Tokyo. D'autres pourraient se concentrer sur des accomplissements personnels, comme apprendre à jouer d'un instrument de musique, écrire un livre, ou atteindre un objectif de remise en forme particulier, comme courir un marathon.</p>
        <p>Pour beaucoup, la bucket list est bien plus qu'une simple liste d'activités à accomplir. Elle représente une source d'inspiration et de motivation pour vivre pleinement et consciemment, en poursuivant activement ses passions et ses désirs. En fixant des objectifs concrets et significatifs, la bucket list peut aider à donner un sens à la vie et à créer des souvenirs inoubliables. En fin de compte, la réalisation des éléments de la bucket list peut apporter un sentiment de satisfaction, d'accomplissement et de bonheur.</p>
    </div>
{% endblock %}